# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sh

# Build
build

# VS Code
.vscode
.cache
.clangd
*.code-workspace

# Temporary
temp

# Behaviors
.antlr

# Doxygen
latex

# Simulation
/VIPRA
/install
sim_output
simcache

# Python
__pycache__
*.gif
*.jpeg
*.png
*.mp4

# dxf
dwg2dxf
*~
\#*

# performance
*.data
*.data.old